<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand slogan">WELCOME!</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active nav-option " aria-current="page" href="/home">Home<span class="sr-only">(current)</span> </a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link nav-option" href="/add-item">Add New Item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-option" href="/home" (click)="hideButton()" >Delete An Item</a>
          </li>
          
        </ul>
        
      </div>
   
     <a href="/login"> <button type="button"   class="btn btn-success" >Login</button></a>
      <button type="button" (click)="logout()"  class="btn btn-success" id="logout-btn"  >Logout</button>

    </div>
  </nav>